body {
    text-align: center;
    background-color: aqua;
}
.viagem_mainDiv {
    border: 1px solid aquamarine;
}
.viagem_mainDiv img {
    width: 100%;
}
.viagem_mainDiv h5, .viagem_mainDiv p {
    margin: 20px;
}
.filmesHead {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 15px;
    margin-bottom: 15px;
}
.filmesHead i {
    float: right;
}
.filmesText span {
    color: yellow;    
}
.book {
    margin-bottom: 20px;
}


#contact iframe
{
    width: 50%;
}
